.login-page,
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  margin: 20px 0;
}

.login-wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  transition: height 0.2s ease;
}

.active-form {
  height: 520px;
}

.hidden-form {
  display: none;
}

.form-box {
  width: 100%;
  padding: 40px;
}

.form-box .login,
.form-box .register,
.active-form .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.active-form .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.login-wrapper .register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.form-box h3 {
  font-size: 2em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
  padding: 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 5px;
}

.input-box svg {
  position: absolute;
  right: 8px;
  top: 25%;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a,
.login-register a {
  color: antiquewhite;
  text-decoration: none;
}

.remember-forgot a:hover,
.login-register a:hover {
  text-decoration: underline;
}

.login-btn,
.login-register {
  font-weight: 500;
  font-size: 1em;
}

.login-btn {
  width: 100%;
  height: 45px;
  background: grey;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-family: "Farro", sans-serif;
}

.login-register {
  text-align: center;
  margin: 25px 0 10px;
}

.login-register a {
  font-weight: 600;
}
