.button-wrapper {
  align-items: center;
  background-color: #5a5a5a;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 24px;
  height: 4em;
  justify-content: center;
  margin: 4px;
}
