#blog button span {
  letter-spacing: 0.3em;
  text-decoration: none;
}

#blog button:hover span {
  animation: scaleUp 0.3s ease-in-out;
  color: #1b1b1b;
}

@keyframes scaleUp {
  50% {
    transform: scale(0.95);
  }

  0%,
  100% {
    transform: scale(1);
  }
}
