* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #faebd7;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  background: #222520;
  border-radius: 12px;
  box-shadow: 4px 4px 30px #0000004d;
  height: 500px;
  overflow: hidden;
  width: 300px;
}
