@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Farro", sans-serif;
  }
}

body {
  align-items: center;
  background: #faebd7;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
