* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #faebd7;
  font-family: "Farro", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
