html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
}

h1 {
  font-size: 64px;
}
