.shop-item-link {
  text-decoration: none;
  color: inherit;
}

.product-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 10px;
  padding-left: 50px;
}

.product-container {
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin: 15px 0;
  min-width: 250px;
  padding: 10px 12px;
  position: relative;
  transition: 0.2s ease;
  width: 80%;
}

.product-container:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.cart-item img {
  border-radius: 20px;
  width: 100%;
  transition: 0.3s ease;
}

.cart-item img:hover {
  transform: translateY(-10%);
}

.dsp {
  text-align: start;
}

.dsp h4 {
  font-weight: 700;
}

.dsp span {
  font-size: 14px;
}

.dsp h4,
.dsp span {
  color: #ebebeb;
}
