.spro,
.spro-buy {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

/*! Image Slider */

.slide-container {
  position: relative;
  text-align: center;
  width: 450px;
  height: 450px;
}

.slide-container .slides {
  position: relative;
}

.slide-container .slides img {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease;
  display: none;
}

.slide-container .slides img.active {
  display: block;
}

.slider-controls {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.slider-controls svg {
  margin-top: 50%;
  cursor: pointer;
}

/*! End */

.spro-details {
  padding-left: 30px;
}

.spro-details h4,
.spro-details h3,
.spro-details span {
  color: #ebebeb;
}

.size {
  display: block;
  font-family: "Farro", sans-serif;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: solid 2px;
}

.size option {
  font-family: "Farro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.qtn-buttons button {
  background-color: transparent;
  font-size: large;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.qtn-buttons input {
  height: 47px;
  background-color: transparent;
  font-size: medium;
  padding: 10px 5px 10px 15px;
  width: 50px;
  border: solid 2px;
  border-radius: 5px;
  font-weight: 600;
}

.spro-buy {
  position: relative;
}

.back-to-shop {
  margin-top: 20px;
  text-align: center;
}
