.features {
  border-bottom: 2px solid #000;
}

.features h2 {
  color: #ebebeb;
  text-align: center;
}

.feature-cards {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 0 5px #ffffff80;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0px 30px 30px;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
  height: 300px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 300px;
}

.card img {
  fill: #333;
  max-width: 210px;
  max-height: 230px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px #fff3;
  transform: scale(1.05);
}

.card__content {
  background-color: #f2f2f2;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.card__title,
.card__description {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.card:hover img {
  scale: 0;
}

.card__description {
  color: #777;
  font-size: 14px;
  line-height: 1.4;
  margin: 10px 0 0;
}
