.header {
  align-items: center;
  background: transparent;
  border-bottom: 2px solid #000;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 30px 3%;
  position: sticky;
  top: 0;
  transition: background 0.5s;
  width: 100%;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
}

.navbar-links a {
  color: #ebebeb;
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
  position: relative;
  transition: 0.5s ease;
}

.navbar-links a::after {
  background: #faebd7;
  border-radius: 5px;
  bottom: -6px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  width: 100%;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

.navbar-links a.active,
.navbar-links a:hover {
  color: #faebd7;
}

/*! When the Navbar is scrolled */
.scrolled {
  align-items: center;
  background: #1b1b1b;
  border-bottom: 1px solid #000;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 30px 3%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
