.header {
  align-items: center;
  background: #282828;
  border-bottom: 2px solid #000;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 30px 3%;
  position: sticky;
  top: 0;
  transition: background 0.5s;
  width: 100%;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.navbar-links a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
  position: relative;
  transition: 0.5s ease;
}

.navbar-links a::after {
  background: #545484;
  border-radius: 5px;
  bottom: -6px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  width: 100%;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

.navbar-links a.active {
  color: #9595b2;
}

.navbar-links a:hover {
  color: #545484;
}

@media (max-width: 550px) {
  .navbar-links.non-active {
    display: none;
  }

  .header-left .navbar-links {
    position: fixed;
    flex-direction: column;
    background: hsl(0, 0%, 17%, 0.8);
    backdrop-filter: blur(0.75rem);
    inset: 0 0 0 30%;
    justify-content: flex-start;
    padding-top: 100px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .header-left .navbar-links.active {
    transform: translateX(0%);
  }

  .header-left .navbar-links a {
    margin: 0;
    font-size: larger;
  }
  .header-left .navbar-links li {
    padding: 10px 0;
  }
}
