.Btn {
  align-items: center;
  background-color: #0f0f0f;
  border: none;
  box-shadow: 5px 5px 10px #0000001a;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 8px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition-duration: 0.3s;
  width: 130px;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.Btn::before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 130px;
  left: -100%;
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 130px;
}

.Btn:hover::before {
  border-radius: 0;
  transform: translate(100%, -50%);
  transition-duration: 0.3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: #fff;
}
