@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

a {
  text-decoration: none;
}

body {
  background: #282828;
  font-display: swap;
  font-family: "Farro", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section-p1 {
  margin: 20px 40px;
}

* {
  box-sizing: border-box;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading-app {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 100%;
}
